@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";



/* padding */
.pt_s {
    @include padding-top ($pd_s_sp, $pd_s_pc);
}

.pt {
    @include padding-top ($pd_m_sp, $pd_m_pc);
}

.pt_l {
    @include padding-top ($pd_l_sp, $pd_l_pc);
}

.pb_s {
    @include padding-bottom($pd_s_sp, $pd_s_pc);
}

.pb {
    @include padding-bottom ($pd_m_sp, $pd_m_pc);
}

.pb_l {
    @include padding-bottom($pd_l_sp, $pd_l_pc);
}

/* margin */
.mt_s {
    @include margin-top ($pd_s_sp, $pd_s_pc);
}

.mt {
    @include margin-top ($pd_m_sp, $pd_m_pc);
}

.mt_l {
    @include margin-top ($pd_l_sp, $pd_l_pc);
}

.mb_s {
    @include margin-bottom($pd_s_sp, $pd_s_pc);
}

.mb {
    @include margin-bottom ($pd_m_sp, $pd_m_pc);
}

.mb_l {
    @include margin-bottom($pd_l_sp, $pd_l_pc);
}

/* font-size */
.fsize_xl {
    @include size($fsize_xl_sp, $fsize_xl_pc);
}

.fsize_l {
    @include size($fsize_l_sp, $fsize_l_pc);
}

.fsize {
    @include size($fsize_m_sp, $fsize_m_pc);
}

.fsize_s {
    @include size($fsize_s_sp, $fsize_s_pc);
}

.fsize_xs {
    @include size($fsize_xs_sp, $fsize_xs_pc);
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

/* font-size */

.bsize_xl {
    @include width(100%, 60%);
}

.bsize_l {
    @include width(100%, 50%);
}

.bsize {
    @include width(100%, 40%);
}

.bsize_s {
    @include width(100%, 30%);
}

.bsize_xs {
    @include width(100%, 20%);
}


/********************************************************************************
　--common
*********************************************************************************/

/* --headline
************************************/


.headline3 {
    @include size(18, 28);
    font-family: "Yu Gothic", sans-serif;
    text-align: center;
    line-height: 1.2;
    @include padding(7% 0 2%, 70px 0 20px);
    font-weight: bold;
}

.headline3 span.line {
    display: inline-block;
    border-bottom: 10px solid #F7E50B;
    padding: 0 10px 15px;
    position: relative;

    @include width(80%, 520px);
}

.headline3 span.line:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -50px;
    display: inline-block;
    width: 121px;
    height: 34px;
    background-image: url(../images/headline_pic.svg);
    background-size: contain;
    vertical-align: middle;
    @include sp_only {
        top: -30px;
        width: 70px;
        height: 21px;    }
}

/* --ctext_color_box
************************************/
.text_color_box {
    color: #fff;
    width: 100%;
    @include padding(2% 0, 10px 0);
    text-align: center;
}

.text_color_box.red {
    background: #c40500;
}

/* --btn
************************************/

.linkbtn1 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 7px;
    /* CSS3草案 */
    -webkit-border-radius: 7px;
    /* Safari,Google Chrome用 */
    -moz-border-radius: 7px;
    /* Firefox用 */
}

.linkbtn1 .btn-child {
    position: absolute;
    top: 0;
    left: 0;
}

.linkbtn1:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 28px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.linkbtn1:hover:after {
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-hover .btn-child {
    background-color: #fff;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
}

.btn-hover .btn-child {
    background-color: #fff;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
}


.btn-hover:hover .btn-text {
    transition: all 0.3s;
}

.btn-hover:hover .btn-child {
    width: 100%;
    transition: all 0.3s;
}

.btn-style {
    @include width(100%, 420px);
    height: 60px;
    line-height: 60px;
}

.btn-text {
    color: #000;
    position: relative;
    z-index: 2;
    @include size(16, 20);
}

.linkbtn1.gray {
    background: #cccccc;
    border: 1px solid #ccc;
}

.linkbtn1.gray:hover:after {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

.linkbtn1.gray.btn-hover:hover .btn-text {
    color: #000;
}

.linkbtn1.gray:hover {
    border: 1px solid #cccccc;
}


.linkbtn1.black {
    background: #333333;
    border: 1px solid #333333;
}

.linkbtn1.black:hover:after {
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
}

.linkbtn1.black.btn-hover .btn-text {
    color: #fff;
}

.linkbtn1.black.btn-hover:hover .btn-text {
    color: #000;
}

.linkbtn1.black:hover {
    border: 1px solid #333333;
}

.linkbtn1.black:after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}





.linkbtn2 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 7px;
    /* CSS3草案 */
    -webkit-border-radius: 7px;
    /* Safari,Google Chrome用 */
    -moz-border-radius: 7px;
    /* Firefox用 */

    @include width(100%, 420px);
    height: 60px;
    line-height: 60px;
}

.linkbtn2 .btn-child {
    position: absolute;
    top: 0;
    left: 0;
}

.linkbtn2:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 28px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.linkbtn2:hover:after {
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.linkbtn2.black {
    background: #333333;
    border: 1px solid #333333;
}

.linkbtn2.black:hover:after {
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
}

.linkbtn2.black.btn-hover .btn-text {
    color: #fff;
}

.linkbtn2.black.btn-hover:hover .btn-text {
    color: #000;
}

.linkbtn2.black:hover {
    border: 1px solid #333333;
}

.linkbtn2.black:after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}





/* 　　--table
************************************/

table.style1 {
    width: 100%;
    line-height: 1.4;
    border-bottom: 1px solid #b5b5b5;

    @include sp_only {
        border-bottom: none;
    }
}

table.style1 th {
    text-align: center;
    background: #62b2ae;
    color: #fff;
    font-weight: bold;
    @include size(11, 15, 15);
    @include padding(2%, 17px 15px 15px);
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #b5b5b5;
}

table.style1 tr td.h2 {
    background: #e6e6e6;
}

table.style1 tr th:last-of-type {
    border-right: 1px solid #b5b5b5;
}

table.style1 tr:first-of-type th {
    border-top: 1px solid #b5b5b5;
}

table.style1 tr:last-of-type th {}

table.style1 tr:last-of-type {
    border-bottom: 1px solid #b5b5b5;
}

table.style1 td {
    background: #fff;
    text-align: center;
    border-top: 1px solid #b5b5b5;
    @include size(11, 15, 15);
    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    @include padding(2%, 17px 9px 15px);
}

table.style1 td.underline {
    border-bottom: 1px solid #b5b5b5;
}


table.style2 {
    width: 100%;
}

table.style2 th {
    @include width(100%, 25%);
    text-align: left;
    background: #f2f2f2;
    font-weight: bold;
    @include size(11, 16, 16);
    @include padding(2%, 17px 30px 15px);
    border-top: 1px solid #cccccc;

    @include sp_only {
        display: block;
    }
}

table.style2.col2 th {
    background: #3a3a3a;
    color: #fff;
    border-bottom: 1px solid #cccccc;

    @include sp_only {
        display: table-cell;
        width: 25%;
    }
}

table.style2.col2 td {
    border-bottom: 1px solid #cccccc;

    @include sp_only {
        width: auto;
        display: table-cell;
    }
}

table.style2 td {
    text-align: left;
    background: #fff;
    border-top: 1px solid #cccccc;
    @include size(11, 16, 16);
    @include padding(2%, 17px 30px 15px);
    border-bottom: 1px solid #cccccc;

    @include sp_only {
        display: block;
        border-bottom: none;
        width: 100%;
    }
}


table.style2 .list li {
    @include pb_s;
}

table.style2 .list li:last-of-type {
    padding-bottom: 0;
}

table.style2 dl {
    @include pb_s;
}

table.style2 dl:last-of-type {
    padding-bottom: 0;
}

table.style2 .btn {
    margin-left: 10px;
    @include fsize_s;
    background: #6b9e4f;
    padding: 5px 10px;
    color: #fff;
}

/* --form
************************************/

form input[type="radio"] {
    margin-right: 5px;
    position: relative;
    display: inline-block;
    top: 1px;
}

form input[type="text"],
input[type="mail"],
select {
    @include padding(7px 10px, 7px 10px);
    @include size(15, 16);
    margin: 4px 0;
    width: 100%;
    border: 1px solid #a7a7a7;

    @include tab() {
        width: auto;
    }
}

form textarea {
    border: 1px solid #a7a7a7;
    @include padding(7px 10px, 7px 10px);
    @include size(15, 16);
    margin: 4px 0;
    width: 100%;

    @include tab() {
        width: auto;
    }
}

form .w50 {
    @include tab() {
        width: 300px !important;
    }
}

form span.small {
    @include size(12);
}

form .mt {
    margin-top: 10px;
}

form .wide {
    width: 100%;
}

form label {
    margin-right: 20px;
}

form .submit_btn {
    text-align: center;
    margin-top: 40px;
}

form .submit_btn input {
    cursor: pointer;
    background: #c30000;
    color: #fff;
    padding: 15px 60px;
    display: inline-block;
    border: none;
}

.mw_wp_form_confirm span {
    display: none;
}

form .error {
    color: #f00;
    @include size(13);
    padding-left: 10px;
}

form .block label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* --bg_color
************************************/
.bg_white {
    background: #fff;
}

.bg_gray {
    background: #f2f2f2;
}

.bg_darkgray {
    background: #d8d8d8;
}

.bg_black {
    background: url(../images/bg_black_img.jpg) repeat;
    color: #fff;
}

.bg_white {
    background: url(../images/bg_white_img.jpg) repeat;
    color: #000;
}

/* --link_color
************************************/
.link_red {
    color: #c73c25 !important;
}

.link_red:hover {
    text-decoration: underline;
}

.link_blue {
    color: $keycolor1 !important;
}

.link_blue:hover {
    text-decoration: underline;
}

/* --font_color
************************************/
.font_red {
    color: #c73c25 !important;
}

.font_blue {
    color: $keycolor1 !important;
}


/* --img_center
************************************/
.img_center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.text_center {
    @include text-align(left !important, center !important);
}

.text_left {
    @include text-align(left !important, left !important);
}


/* --sml
************************************/
.sml {
    @include fsize_xs;

}

/* --new
************************************/
.new:after {
    content: "new";
    margin-left: 5px;
    color: #fff;
    background: #c73c25;
    padding: 1px 3px;
    font-size: 12px;
}


/* 　　--photo_title
************************************/
/* 写真(下部)の上に説明文を重ねる */
.photo_title a {
    text-align: center;
    text-decoration: none;
}

.photo_title figure {
    position: relative;
    overflow: hidden;
}

.photo_title figcaption {
    position: absolute;
    bottom: 0px;
    padding: 4px 10px 1px;
    z-index: 9999;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .3s;
    opacity: 1;
    color: #fff;

}

.photo_title figcaption .center {
    text-align: center;
}

.photo_title figcaption .left {
    text-align: left;
}

.photo_title img {
    @include vender(transition, all 0.2s linear);
    width: 100%;
    height: auto;
}

.photo_title a:hover img {
    @include vender(transform, scale(1.1));
    opacity: 0.8;
}

.photo_title a:hover .photo {
    opacity: 0.8;
}

.photo_title figcaption.white {
    background: #fff;
    color: #4d4d4d;
}

.photo_title figcaption.arrow:after {
    @include vender(transition, all 0.2s linear);
    content: url(../images/right_arrow.png);
    position: absolute;
    right: 10px;
    top: 2px;
}

.photo_title a:hover figcaption.arrow:after {
    right: 7px;
}

.photo_title.left_line {
    border-left: 2px solid #c40500;
}

/* 　　--company_list
************************************/
#company_list ul li {
    background-size: cover !important;
}

#company_list a:hover .text {
    color: #c40500;
}

#company_list ul li .text {
    text-align: center;
    margin: 30px 100px;
    padding: 10px;
    background: #fff;
    font-weight: bold;
}

#company_list .grid_col3 li {
    margin-bottom: 2%;

    @include pc_only {
        width: 32%;
    }

    @include tab_only {
        width: 48%;
    }
}

@include pc_only {
    #company_list .grid_col3 .col1 {
        margin-right: 2% !important;
    }

    #company_list .grid_col3 .col2 {
        margin-right: 2% !important;
    }

    #company_list .grid_col3 .col3 {
        margin-right: 0% !important;
    }

    #company_list .grid_col3 .col4 {
        margin-right: 2% !important;
    }

    #company_list .grid_col3 .col5 {
        margin-right: 2% !important;
    }
}

@include tab_only {
    #company_list .grid_col3 .col1 {
        margin-right: 2% !important;
    }

    #company_list .grid_col3 .col2 {
        margin-right: 0% !important;
    }

    #company_list .grid_col3 .col3 {
        margin-right: 2% !important;
    }

    #company_list .grid_col3 .col4 {
        margin-right: 0% !important;
    }

    #company_list .grid_col3 .col5 {
        margin-right: 2% !important;
    }
}

#company_list .grid_col3 .col:nth-child(3n+1) {
    clear: none;
}

/* 　　--iziModal
************************************/
.iziModal {
    @include tab_only {
        width: 92% !important;
    }

    @include sp_only {
        width: 92% !important;
    }

}

.iziModal-header-title {
    font-size: 26px !important;
    font-size: 2.6rem !important;

    @include sp_only {
        font-size: 20px !important;
        font-size: 2rem !important;
    }

    font-weight: 900 !important;
}

.iziModal-header-title .name {
    font-size: 18px !important;
    font-size: 1.8rem !important;

    @include sp_only {
        font-size: 15px !important;
        font-size: 1.5rem !important;
    }

    font-weight: 600 !important;
    color: #b5983a;
    position: relative;
    padding-left: 20px;
    top: -2px;

}

.iziModal .headline {
    font-size: 22px;
    font-size: 2.2rem;

    @include sp_only {
        font-size: 18px !important;
        font-size: 1.8rem !important;
    }

    line-height: 1.4;
    font-weight: bold;
    background: #b5983a;
    text-align: center;
    color: #fff;
    padding: 14px 0;

    width: 92%;
    font-weight: bold;
    @include margin(4% auto, 40px auto 20px);
}

.iziModal .photo {
    width: 300px;
    margin: 0 auto;

}

.iziModal .voice_answer {
    color: #000;
    @include fsize;
    background: #dcd6c4;
    width: 92%;
    text-align: left;
    padding: 20px 20px 15px 48px;

    @include sp_only {
        padding: 2% 4% 2% 48px;
    }

    margin:0 auto;
    margin-bottom:20px;
    position: relative;
}

.iziModal .voice_answer:before {
    position: absolute;
    content: 'A.';
    display: block;
    top: 25px;

    @include sp_only {
        top: 7px;
    }

    left: 15px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #b5983a;
}

.iziModal .voice_question {
    color: #000;
    @include fsize;
    background: #f2f2f2;
    width: 92%;
    text-align: left;
    padding: 20px 20px 15px 48px;

    @include sp_only {
        padding: 2% 4% 2% 48px;
    }

    margin:0 auto;
    position: relative;
}

.iziModal .voice_question:before {
    position: absolute;
    content: 'Q.';
    display: block;
    top: 23px;

    @include sp_only {
        top: 7px;
    }

    left: 15px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #b5983a;
}

.iziModal img {
    text-align: center;
    display: block;
    margin: 4% auto;

}
