@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 2%;
}

.pt {
  padding-top: 4%;
}

.pt_l {
  padding-top: 6%;
}

.pb_s {
  padding-bottom: 2%;
}

.pb {
  padding-bottom: 4%;
}

.pb_l {
  padding-bottom: 6%;
}

/* margin */
.mt_s {
  margin-top: 2%;
}

.mt {
  margin-top: 4%;
}

.mt_l {
  margin-top: 6%;
}

.mb_s {
  margin-bottom: 2%;
}

.mb {
  margin-bottom: 4%;
}

.mb_l {
  margin-bottom: 6%;
}

/* font-size */
.fsize_xl {
  font-size: 18px;
  font-size: 1.8rem;
}

.fsize_l {
  font-size: 16px;
  font-size: 1.6rem;
}

.fsize {
  font-size: 14px;
  font-size: 1.4rem;
}

.fsize_s {
  font-size: 12px;
  font-size: 1.2rem;
}

.fsize_xs {
  font-size: 10px;
  font-size: 1rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}

div.textbox p:last-child {
  margin-bottom: 0;
}

/* font-size */
.bsize_xl {
  width: 100%;
}

.bsize_l {
  width: 100%;
}

.bsize {
  width: 100%;
}

.bsize_s {
  width: 100%;
}

.bsize_xs {
  width: 100%;
}

/********************************************************************************
　--common
*********************************************************************************/
/* --headline
************************************/
.headline3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Yu Gothic", sans-serif;
  text-align: center;
  line-height: 1.2;
  padding: 7% 0 2%;
  font-weight: bold;
}

.headline3 span.line {
  display: inline-block;
  border-bottom: 10px solid #F7E50B;
  padding: 0 10px 15px;
  position: relative;
  width: 80%;
}

.headline3 span.line:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -50px;
  display: inline-block;
  width: 121px;
  height: 34px;
  background-image: url(../images/headline_pic.svg);
  background-size: contain;
  vertical-align: middle;
}

/* --ctext_color_box
************************************/
.text_color_box {
  color: #fff;
  width: 100%;
  padding: 2% 0;
  text-align: center;
}

.text_color_box.red {
  background: #c40500;
}

/* --btn
************************************/
.linkbtn1 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 7px;
  /* CSS3草案 */
  -webkit-border-radius: 7px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 7px;
  /* Firefox用 */
}

.linkbtn1 .btn-child {
  position: absolute;
  top: 0;
  left: 0;
}

.linkbtn1:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 28px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.linkbtn1:hover:after {
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-hover .btn-child {
  background-color: #fff;
  width: 0%;
  height: 100%;
  transition: all 0.3s;
}

.btn-hover .btn-child {
  background-color: #fff;
  width: 0%;
  height: 100%;
  transition: all 0.3s;
}

.btn-hover:hover .btn-text {
  transition: all 0.3s;
}

.btn-hover:hover .btn-child {
  width: 100%;
  transition: all 0.3s;
}

.btn-style {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.btn-text {
  color: #000;
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-size: 1.6rem;
}

.linkbtn1.gray {
  background: #cccccc;
  border: 1px solid #ccc;
}

.linkbtn1.gray:hover:after {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.linkbtn1.gray.btn-hover:hover .btn-text {
  color: #000;
}

.linkbtn1.gray:hover {
  border: 1px solid #cccccc;
}

.linkbtn1.black {
  background: #333333;
  border: 1px solid #333333;
}

.linkbtn1.black:hover:after {
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
}

.linkbtn1.black.btn-hover .btn-text {
  color: #fff;
}

.linkbtn1.black.btn-hover:hover .btn-text {
  color: #000;
}

.linkbtn1.black:hover {
  border: 1px solid #333333;
}

.linkbtn1.black:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.linkbtn2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 7px;
  /* CSS3草案 */
  -webkit-border-radius: 7px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 7px;
  /* Firefox用 */
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.linkbtn2 .btn-child {
  position: absolute;
  top: 0;
  left: 0;
}

.linkbtn2:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 28px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.linkbtn2:hover:after {
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.linkbtn2.black {
  background: #333333;
  border: 1px solid #333333;
}

.linkbtn2.black:hover:after {
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
}

.linkbtn2.black.btn-hover .btn-text {
  color: #fff;
}

.linkbtn2.black.btn-hover:hover .btn-text {
  color: #000;
}

.linkbtn2.black:hover {
  border: 1px solid #333333;
}

.linkbtn2.black:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

/* 　　--table
************************************/
table.style1 {
  width: 100%;
  line-height: 1.4;
  border-bottom: 1px solid #b5b5b5;
}

table.style1 th {
  text-align: center;
  background: #62b2ae;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-left: 1px solid #b5b5b5;
}

table.style1 tr td.h2 {
  background: #e6e6e6;
}

table.style1 tr th:last-of-type {
  border-right: 1px solid #b5b5b5;
}

table.style1 tr:first-of-type th {
  border-top: 1px solid #b5b5b5;
}

table.style1 tr:last-of-type {
  border-bottom: 1px solid #b5b5b5;
}

table.style1 td {
  background: #fff;
  text-align: center;
  border-top: 1px solid #b5b5b5;
  font-size: 11px;
  font-size: 1.1rem;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  padding: 2%;
}

table.style1 td.underline {
  border-bottom: 1px solid #b5b5b5;
}

table.style2 {
  width: 100%;
}

table.style2 th {
  width: 100%;
  text-align: left;
  background: #f2f2f2;
  font-weight: bold;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-top: 1px solid #cccccc;
}

table.style2.col2 th {
  background: #3a3a3a;
  color: #fff;
  border-bottom: 1px solid #cccccc;
}

table.style2.col2 td {
  border-bottom: 1px solid #cccccc;
}

table.style2 td {
  text-align: left;
  background: #fff;
  border-top: 1px solid #cccccc;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-bottom: 1px solid #cccccc;
}

table.style2 .list li:last-of-type {
  padding-bottom: 0;
}

table.style2 dl:last-of-type {
  padding-bottom: 0;
}

table.style2 .btn {
  margin-left: 10px;
  background: #6b9e4f;
  padding: 5px 10px;
  color: #fff;
}

/* --form
************************************/
form input[type="radio"] {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  top: 1px;
}

form input[type="text"],
input[type="mail"],
select {
  padding: 7px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4px 0;
  width: 100%;
  border: 1px solid #a7a7a7;
}

form textarea {
  border: 1px solid #a7a7a7;
  padding: 7px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4px 0;
  width: 100%;
}

form span.small {
  font-size: 12px;
  font-size: 1.2rem;
}

form .mt {
  margin-top: 10px;
}

form .wide {
  width: 100%;
}

form label {
  margin-right: 20px;
}

form .submit_btn {
  text-align: center;
  margin-top: 40px;
}

form .submit_btn input {
  cursor: pointer;
  background: #c30000;
  color: #fff;
  padding: 15px 60px;
  display: inline-block;
  border: none;
}

.mw_wp_form_confirm span {
  display: none;
}

form .error {
  color: #f00;
  font-size: 13px;
  font-size: 1.3rem;
  padding-left: 10px;
}

form .block label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

/* --bg_color
************************************/
.bg_white {
  background: #fff;
}

.bg_gray {
  background: #f2f2f2;
}

.bg_darkgray {
  background: #d8d8d8;
}

.bg_black {
  background: url(../images/bg_black_img.jpg) repeat;
  color: #fff;
}

.bg_white {
  background: url(../images/bg_white_img.jpg) repeat;
  color: #000;
}

/* --link_color
************************************/
.link_red {
  color: #c73c25 !important;
}

.link_red:hover {
  text-decoration: underline;
}

.link_blue {
  color: #E5004E !important;
}

.link_blue:hover {
  text-decoration: underline;
}

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important;
}

.font_blue {
  color: #E5004E !important;
}

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.text_center {
  text-align: left !important;
}

.text_left {
  text-align: left !important;
}

/* --sml
************************************/

/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px;
}

/* 　　--photo_title
************************************/
/* 写真(下部)の上に説明文を重ねる */
.photo_title a {
  text-align: center;
  text-decoration: none;
}

.photo_title figure {
  position: relative;
  overflow: hidden;
}

.photo_title figcaption {
  position: absolute;
  bottom: 0px;
  padding: 4px 10px 1px;
  z-index: 9999;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  opacity: 1;
  color: #fff;
}

.photo_title figcaption .center {
  text-align: center;
}

.photo_title figcaption .left {
  text-align: left;
}

.photo_title img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  height: auto;
}

.photo_title a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
}

.photo_title a:hover .photo {
  opacity: 0.8;
}

.photo_title figcaption.white {
  background: #fff;
  color: #4d4d4d;
}

.photo_title figcaption.arrow:after {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  content: url(../images/right_arrow.png);
  position: absolute;
  right: 10px;
  top: 2px;
}

.photo_title a:hover figcaption.arrow:after {
  right: 7px;
}

.photo_title.left_line {
  border-left: 2px solid #c40500;
}

/* 　　--company_list
************************************/
#company_list ul li {
  background-size: cover !important;
}

#company_list a:hover .text {
  color: #c40500;
}

#company_list ul li .text {
  text-align: center;
  margin: 30px 100px;
  padding: 10px;
  background: #fff;
  font-weight: bold;
}

#company_list .grid_col3 li {
  margin-bottom: 2%;
}

#company_list .grid_col3 .col:nth-child(3n+1) {
  clear: none;
}

/* 　　--iziModal
************************************/

.iziModal-header-title {
  font-size: 26px !important;
  font-size: 2.6rem !important;
  font-weight: 900 !important;
}

.iziModal-header-title .name {
  font-size: 18px !important;
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  color: #b5983a;
  position: relative;
  padding-left: 20px;
  top: -2px;
}

.iziModal .headline {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: bold;
  background: #b5983a;
  text-align: center;
  color: #fff;
  padding: 14px 0;
  width: 92%;
  font-weight: bold;
  margin: 4% auto;
}

.iziModal .photo {
  width: 300px;
  margin: 0 auto;
}

.iziModal .voice_answer {
  color: #000;
  background: #dcd6c4;
  width: 92%;
  text-align: left;
  padding: 20px 20px 15px 48px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

.iziModal .voice_answer:before {
  position: absolute;
  content: 'A.';
  display: block;
  top: 25px;
  left: 15px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  color: #b5983a;
}

.iziModal .voice_question {
  color: #000;
  background: #f2f2f2;
  width: 92%;
  text-align: left;
  padding: 20px 20px 15px 48px;
  margin: 0 auto;
  position: relative;
}

.iziModal .voice_question:before {
  position: absolute;
  content: 'Q.';
  display: block;
  top: 23px;
  left: 15px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  color: #b5983a;
}

.iziModal img {
  text-align: center;
  display: block;
  margin: 4% auto;
}

@media screen and (min-width: 768px) {
  .pt_s {
    padding-top: 10px;
  }
  .pt {
    padding-top: 30px;
  }
  .pt_l {
    padding-top: 50px;
  }
  .pb_s {
    padding-bottom: 10px;
  }
  .pb {
    padding-bottom: 30px;
  }
  .pb_l {
    padding-bottom: 50px;
  }
  .mt_s {
    margin-top: 10px;
  }
  .mt {
    margin-top: 30px;
  }
  .mt_l {
    margin-top: 50px;
  }
  .mb_s {
    margin-bottom: 10px;
  }
  .mb {
    margin-bottom: 30px;
  }
  .mb_l {
    margin-bottom: 50px;
  }
  .fsize_xl {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .fsize_l {
    font-size: 20px;
    font-size: 2rem;
  }
  .fsize {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .fsize_s {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .fsize_xs {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .bsize_xl {
    width: 60%;
  }
  .bsize_l {
    width: 50%;
  }
  .bsize {
    width: 40%;
  }
  .bsize_s {
    width: 30%;
  }
  .bsize_xs {
    width: 20%;
  }
  .headline3 {
    font-size: 28px;
    font-size: 2.8rem;
  }
  .headline3 {
    padding: 70px 0 20px;
  }
  .headline3 span.line {
    width: 520px;
  }
  .text_color_box {
    padding: 10px 0;
  }
  .btn-style {
    width: 420px;
  }
  .btn-text {
    font-size: 20px;
    font-size: 2rem;
  }
  .linkbtn2 {
    width: 420px;
  }
  table.style1 th {
    font-size: 15px;
    font-size: 1.5rem;
  }
  table.style1 th {
    padding: 17px 15px 15px;
  }
  table.style1 td {
    font-size: 15px;
    font-size: 1.5rem;
  }
  table.style1 td {
    padding: 17px 9px 15px;
  }
  table.style2 th {
    width: 25%;
  }
  table.style2 th {
    font-size: 16px;
    font-size: 1.6rem;
  }
  table.style2 th {
    padding: 17px 30px 15px;
  }
  table.style2 td {
    font-size: 16px;
    font-size: 1.6rem;
  }
  table.style2 td {
    padding: 17px 30px 15px;
  }
  form input[type="text"],
  input[type="mail"],
  select {
    padding: 7px 10px;
  }
  form input[type="text"],
  input[type="mail"],
  select {
    font-size: 16px;
    font-size: 1.6rem;
  }
  form textarea {
    padding: 7px 10px;
  }
  form textarea {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .text_center {
    text-align: center !important;
  }
  .text_left {
    text-align: left !important;
  }
  .iziModal .headline {
    margin: 40px auto 20px;
  }
}

@media (max-width: 767px) {
  .headline3 span.line:before {
    top: -30px;
    width: 70px;
    height: 21px;
  }
  table.style1 {
    border-bottom: none;
  }
  table.style2 th {
    display: block;
  }
  table.style2.col2 th {
    display: table-cell;
    width: 25%;
  }
  table.style2.col2 td {
    width: auto;
    display: table-cell;
  }
  table.style2 td {
    display: block;
    border-bottom: none;
    width: 100%;
  }
  table.style2 .list li {
    padding-bottom: 2%;
  }
  table.style2 dl {
    padding-bottom: 2%;
  }
  table.style2 .btn {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .sml {
    font-size: 10px;
    font-size: 1rem;
  }
  .iziModal {
    width: 92% !important;
  }
  .iziModal-header-title {
    font-size: 20px !important;
    font-size: 2rem !important;
  }
  .iziModal-header-title .name {
    font-size: 15px !important;
    font-size: 1.5rem !important;
  }
  .iziModal .headline {
    font-size: 18px !important;
    font-size: 1.8rem !important;
  }
  .iziModal .voice_answer {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .iziModal .voice_answer {
    padding: 2% 4% 2% 48px;
  }
  .iziModal .voice_answer:before {
    top: 7px;
  }
  .iziModal .voice_question {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .iziModal .voice_question {
    padding: 2% 4% 2% 48px;
  }
  .iziModal .voice_question:before {
    top: 7px;
  }
}

@media screen and (min-width: 1040px) {
  table.style1 th {
    font-size: 15px;
    font-size: 1.5rem;
  }
  table.style1 td {
    font-size: 15px;
    font-size: 1.5rem;
  }
  table.style2 th {
    font-size: 16px;
    font-size: 1.6rem;
  }
  table.style2 td {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  table.style2 .list li {
    padding-bottom: 10px;
  }
  table.style2 dl {
    padding-bottom: 10px;
  }
  table.style2 .btn {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .sml {
    font-size: 12px;
    font-size: 1.2rem;
  }
  #company_list .grid_col3 li {
    width: 48%;
  }
  #company_list .grid_col3 .col1 {
    margin-right: 2% !important;
  }
  #company_list .grid_col3 .col2 {
    margin-right: 0% !important;
  }
  #company_list .grid_col3 .col3 {
    margin-right: 2% !important;
  }
  #company_list .grid_col3 .col4 {
    margin-right: 0% !important;
  }
  #company_list .grid_col3 .col5 {
    margin-right: 2% !important;
  }
  .iziModal {
    width: 92% !important;
  }
  .iziModal .voice_answer {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .iziModal .voice_question {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  table.style2 .list li {
    padding-bottom: 10px;
  }
  table.style2 dl {
    padding-bottom: 10px;
  }
  table.style2 .btn {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .sml {
    font-size: 12px;
    font-size: 1.2rem;
  }
  #company_list .grid_col3 li {
    width: 32%;
  }
  #company_list .grid_col3 .col1 {
    margin-right: 2% !important;
  }
  #company_list .grid_col3 .col2 {
    margin-right: 2% !important;
  }
  #company_list .grid_col3 .col3 {
    margin-right: 0% !important;
  }
  #company_list .grid_col3 .col4 {
    margin-right: 2% !important;
  }
  #company_list .grid_col3 .col5 {
    margin-right: 2% !important;
  }
  .iziModal .voice_answer {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .iziModal .voice_question {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media print, screen and (min-width: 768px) {
  form input[type="text"],
  input[type="mail"],
  select {
    width: auto;
  }
  form textarea {
    width: auto;
  }
  form .w50 {
    width: 300px !important;
  }
}
