/* --
************************************/
/* pc:2col  */
.grid_col2 {
  width: 100%;
}

.grid_col2 .col {
  float: left;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 4%;
}

.grid_col2 .col:nth-child(2n) {
  margin-right: 0;
}

.grid_col2 .col:nth-child(2n+1) {
  clear: both;
}

/* pc:3col  */
.grid_col3 {
  width: 100%;
}

.grid_col3 .col {
  float: left;
  width: 33.3%;
}

.grid_col3 .col:nth-child(3n+1) {
  clear: both;
}

/* pc:4col  */
.grid_col4 {
  width: 100%;
}

.grid_col4 .col {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid_col4 .col:nth-child(4n) {
  margin-right: 0;
}

.grid_col4 .col:nth-child(4n+1) {
  clear: both;
}

.grid_hover .col {
  position: relative;
  overflow: hidden;
}

.grid_hover img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  height: auto;
}

.grid_hover a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
}

.grid_hover a:hover .photo {
  opacity: 0.8;
}

.grid_hover .col p.text {
  position: relative;
  display: block;
  background: #fff;
  padding-top: 10px;
  font-size: 15px;
  font-size: 1.5rem;
}

/* tablecol  */
ul.tablecol {
  display: table;
  width: 100%;
}

ul.tablecol.col2 li {
  display: table-cell;
  width: 50%;
}

ul.tablecol.col3 li {
  display: table-cell;
  width: 33.3333%;
}

ul.tablecol.col4 li {
  display: table-cell;
  width: 25%;
}

ul.tablecol.col5 li {
  display: table-cell;
  width: 20%;
}

/* list  */
.list1 dl {
  border-bottom: 1px solid #b2b2b2;
}

.list1 a:hover {
  text-decoration: none !important;
  color: #2687a8;
}

ul.list2 {
  width: 100%;
}

ul.list2 li {
  padding-left: 1em;
  text-indent: -1em;
}

.grid_linkbtn .col {
  float: left;
  width: 33.333%;
}

.grid_linkbtn .col a {
  position: relative;
  display: block;
  color: #fff !important;
  text-align: center;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.grid_linkbtn .col a:hover {
  background: #fff !important;
  color: #2687a8 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.grid_linkbtn .col a:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  right: 14px;
  top: 34%;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.grid_linkbtn .col a:before {
  content: "";
  position: absolute;
  right: 22px;
  top: 46%;
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.grid_linkbtn .col:nth-child(1) a {
  background: #49a2ba;
  border: 1px solid #49a2ba;
}

.grid_linkbtn .col:nth-child(2) a {
  background: #2687a8;
  border: 1px solid #2687a8;
}

.grid_linkbtn .col:nth-child(3) a {
  background: #49a2ba;
  border: 1px solid #49a2ba;
}

.grid_ptn1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.grid_ptn1 .photo {
  height: auto;
  background: #eceff4;
  width: 100%;
}

.grid_ptn1 .photo img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.grid_ptn1 .text {
  width: 100%;
  padding: 4%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.grid_ptn1--type1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.grid_ptn1--type2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.grid_ptn1--type1 .text {
  background: transparent;
}

.grid_ptn1--type1 .photo {
  background: transparent;
}

.grid_ptn1--type1 .photo img,
.grid_ptn1--type2 .photo img {
  width: 100%;
}

.grid_ptn1--type2 .text {
  background: transparent;
}

.grid_ptn1--type2 .photo {
  background: transparent;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .grid_col2.tab1 .col {
    width: 100%;
    margin-right: 0;
  }
  .grid_col2.tab1 .col:nth-child(2n) {
    margin-right: none;
  }
  .grid_col2.tab1 .col:nth-child(2n+1) {
    clear: none;
  }
  .grid_col3.tab1 .col {
    width: 100%;
    margin-right: 0;
  }
  .grid_col3.tab1 .col:nth-child(3n) {
    margin-right: none;
  }
  .grid_col3.tab1 .col:nth-child(3n+1) {
    clear: none;
  }
  .grid_col3.tab2 .col {
    width: 50%;
    margin-bottom: 0%;
  }
  .grid_col3.tab2 .col:nth-child(even) {
    margin-right: 0;
  }
  .grid_col3.tab2 .col:nth-child(odd) {
    clear: both;
  }
  .grid_col3.tab2 .col:nth-child(3n) {
    margin-right: none;
  }
  .grid_col3.tab2 .col:nth-child(3n+1) {
    clear: none;
  }
  .grid_col4.tab1 .col {
    width: 100%;
    margin-right: 0;
  }
  .grid_col4.tab1 .col:nth-child(4n) {
    margin-right: none;
  }
  .grid_col4.tab1 .col:nth-child(4n+1) {
    clear: none;
  }
  .grid_col4.tab2 .col {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .grid_col4.tab2 .col:nth-child(even) {
    margin-right: 0;
  }
  .grid_col4.tab2 .col:nth-child(odd) {
    clear: both;
  }
  .grid_col4.tab2 .col:nth-child(4n) {
    margin-right: none;
  }
  .grid_col4.tab2 .col:nth-child(4n+1) {
    clear: none;
  }
  .grid_col4.tab3 .col {
    width: 30.666%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .grid_col4.tab3 .col:nth-child(3n) {
    margin-right: 0;
  }
  .grid_col4.tab3 .col:nth-child(3n+1) {
    clear: both;
  }
  .grid_col4.tab3 .col:nth-child(4n) {
    margin-right: none;
  }
  .grid_col4.tab3 .col:nth-child(4n+1) {
    clear: none;
  }
  .list1 dl {
    padding-top: 10px;
  }
  .list1 dl {
    padding-bottom: 10px;
  }
  ul.list2 li {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .grid_linkbtn .col {
    display: block;
    width: 100%;
  }
  .grid_linkbtn .col a {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  .grid_col2.sp1 .col {
    width: 100%;
    margin-right: 0;
  }
  .grid_col2.sp1 .col:nth-child(2n) {
    margin-right: none;
  }
  .grid_col2.sp1 .col:nth-child(2n+1) {
    clear: none;
  }
  .grid_col3.sp1 .col {
    width: 100%;
    margin-right: 0;
  }
  .grid_col3.sp1 .col:nth-child(3n) {
    margin-right: none;
  }
  .grid_col3.sp1 .col:nth-child(3n+1) {
    clear: none;
  }
  .grid_col3.sp2 .col {
    width: 48%;
    margin-right: 4%;
  }
  .grid_col3.sp2 .col:nth-child(even) {
    margin-right: 0;
  }
  .grid_col3.sp2 .col:nth-child(odd) {
    clear: both;
  }
  .grid_col3.sp2 .col:nth-child(3n) {
    margin-right: none;
  }
  .grid_col3.sp2 .col:nth-child(3n+1) {
    clear: none;
  }
  .grid_col4.sp1 .col {
    width: 100%;
    margin-right: 0;
  }
  .grid_col4.sp1 .col:nth-child(4n) {
    margin-right: none;
  }
  .grid_col4.sp1 .col:nth-child(4n+1) {
    clear: none;
  }
  .grid_col4.sp2 .col {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .grid_col4.sp2 .col:nth-child(even) {
    margin-right: 0;
  }
  .grid_col4.sp2 .col:nth-child(odd) {
    clear: both;
  }
  .grid_col4.sp2 .col:nth-child(4n) {
    margin-right: none;
  }
  .grid_col4.sp2 .col:nth-child(4n+1) {
    clear: none;
  }
  .grid_col4.sp3 .col {
    width: 30.666%;
    margin-right: 4%;
  }
  .grid_col4.sp3 .col:nth-child(3n) {
    margin-right: 0;
  }
  .grid_col4.sp3 .col:nth-child(3n+1) {
    clear: both;
  }
  .grid_col4.sp3 .col:nth-child(4n) {
    margin-right: none;
  }
  .grid_col4.sp3 .col:nth-child(4n+1) {
    clear: none;
  }
  ul.tablecol.sp1 {
    display: block;
    width: 100%;
  }
  ul.tablecol.sp1 li {
    display: block;
    width: 100%;
  }
  .list1 dl {
    padding-top: 2%;
  }
  .list1 dl {
    padding-bottom: 2%;
  }
  ul.list2 li {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .grid_linkbtn .col {
    display: block;
    width: 100%;
  }
  .grid_linkbtn .col a {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .grid_hover .col p.text {
    font-size: 17px;
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) {
  .list1 dl {
    padding-top: 10px;
  }
  .list1 dl {
    padding-bottom: 10px;
  }
  ul.list2 li {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .grid_linkbtn .col a {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

@media print, screen and (min-width: 768px) {
  .list1 dl dt {
    width: 9em;
    float: left;
  }
  .list1 dl dd {
    overflow: hidden;
  }
}

@media print, screen and (min-width: 1040px) {
  .grid_ptn1 .photo {
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }
  .grid_ptn1 .text {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    width: 50%;
  }
  .grid_ptn1--type1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .grid_ptn1--type2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .grid_ptn1--type1 .text h3 {
    text-align: left;
  }
  .grid_ptn1--type2 .text h3 {
    text-align: right;
  }
}
