@charset "utf-8";

@import "base/_config";
@import "base/_mixin";
@import "base/_extend";

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Istok+Web:700|Josefin+Sans|Open+Sans');
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background: $bg_body;
    text-align: center;
    line-height: 1.75;
    @include size(16);
    color: $color_text;
    font-family: $font_family;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: left;
    padding: 0 4%;

    @include pc() {
        width: $width_wrapper;
        padding: 0;
    }
}



/* link */

a {
    color: $color_link;
    text-decoration: none;
    outline: none;
}

a:link {
    color: $color_link;
}

a:visited {
    color: $color_link;
}

a:hover {
    color: $color_link;
}





/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--header
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pcmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .pcmenu {
    background: $keycolor1;
    @include display(false, block, block);
    @include vender(transition, all 0.5s ease);
    width: 100%;
    top: 0;
    display: fixed;

    @include sp_only {
        display: none;
    }
}

header .pcmenu h1 {
    float: left;
    @include padding(12px 0 0 9px);

    @include tab_only {
        @include padding(11px 0 0 9px);
    }

}


header .pcmenu .contact {
    float: right;
    background: #b3b3b3;
    margin: 21px 10px 0 10px;

    @include tab_only {
        margin: 21px 5px 0 5px;
    }

}

header .pcmenu .contact img {
    position: relative;
    top: -2px;
    padding-right: 6px;
}

header .pcmenu .contact a {
    color: $keycolor1;
    font-weight: bold;
    @include size(15);
    padding: 7px 15px 7px 11px;
    display: block;
    width: 100%;

    @include tab_only {
        padding: 7px 10px 7px 6px;
        @include size(13);
    }
}

header .pcmenu .counsel {
    float: right;
    background: #b3b3b3;
    margin: 21px 20px 0 10px;

    @include tab_only {
        margin: 21px 10px 0 5px;
    }

}

header .pcmenu .counsel img {
    position: relative;
    top: 0px;
    padding-right: 6px;
}

header .pcmenu .counsel a {
    color: $keycolor1;
    font-weight: bold;
    @include size(15);
    padding: 7px 13px;
    display: block;
    width: 100%;

    @include tab_only {
        padding: 7px 10px 7px 6px;
        @include size(13);
    }

}

header .pcmenu nav {
    @include tab() {
        width: auto;
        float: right;
    }

    @include pc() {
        width: auto;
        float: right;
    }
}

header .pcmenu nav ul {
    width: 100%;
    display: table;
    display: block;
}

header .pcmenu nav ul li {
    padding: 20px 0px;
    float: left;
    display: block;
    line-height: 1.4;
    position: relative;
}

header .pcmenu nav ul li span {
    display: block;
    font-weight: 300;
    color: #b3b3b3;
    @include size(13);
}

header .pcmenu nav ul li a:hover span {
    color: #FFE600;
}

header .pcmenu nav ul li a {
    color: #fff;
    font-weight: bold;
    padding: 5px 5px;
    text-align: center;
    display: block;
    position: relative;
    @include size(15);
    border-right: 1px solid #fff;

    @include tab_only {
        padding: 0px 11px;
        @include size(14);
    }

    @include pc {
        padding: 0px 25px;
    }
}

header .pcmenu nav ul li:first-of-type a {
    border-left: 1px solid #fff;

}


header .pcmenu nav ul li a:after {
    position: absolute;
    bottom: -8px;
    left: 7%;
    content: "";
    width: 84%;
    height: 2px;
    background: #FFE600;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .5s;
}

header .pcmenu nav ul li a:hover:after {
    transform: scale(1, 1);
}

header .pcmenu nav ul li a:hover {
    color: #FFE600;
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--spmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 52px;
    top: 0;
    @include display(block, none, none);
    position: fixed;
    background: $keycolor1;
}

header .spmenu h2 {
    text-align: left;
}

header .spmenu h2 img {
    width: 125px;
    height: auto;
    padding-left: 5px;
    padding-top: 12px;
}

header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 16px 3% 8%;
    position: fixed;
    z-index: 99999;
}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}

header .spmenu .drawer-brand img {
    width: 84%;
    height: auto;
    margin-top: 7px;
}


header .spmenu .drawer-menu-item {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 3% 8% 3% 4%;
    color: #fff;
    background: $keycolor1;
    position: relative;
    font-size: 15px;
    font-size: 1.5rem;
}

header .spmenu .color .drawer-menu-item {
    border-bottom: 1px solid #fff;
    background: #262626;
}

header .spmenu li #acMenu dt {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 3% 4%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #595555;
    color: #fff;
}

header .spmenu li #acMenu dd {
    background: #ffffff;
    text-align: center;
    display: none;
    margin: 0px;
    padding: 0px;
}

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: -5px;
    top: 7px;
    margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .spmenu .inner {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    border-top: 1px solid $keycolor1;
}


header .spmenu .drawer-menu-item:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid #fff;
    border-right: 1px solid fff;
}

header .spmenu .drawer-menu-item:hover {
    text-decoration: underline;
}

header .spmenu .drawer-nav {
    background: url(../images/event_bg.jpg);
    background-repeat: repeat-y;
    background-size: contain;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #fff !important;
}

.drawer-open .drawer-hamburger-icon {
    background-color: transparent !important;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle {}

#pagetitle.about {
    @include margin-top(52px, 77px, 79px);
    width: 100%;
    background: url(../images/pagetitle_about.jpg) top center no-repeat;
    background-size: cover !important;
    @include padding(40px 0, 180px 0);

}

#pagetitle.voice {
    @include margin-top(52px, 77px, 79px);
    width: 100%;
    background: url(../images/pagetitle_voice.jpg) top center no-repeat;
    background-size: cover !important;
    @include padding(40px 0, 185px 0);
}

#pagetitle.price {
    @include margin-top(52px, 77px, 79px);
    width: 100%;
    background: url(../images/pagetitle_price.jpg) top center no-repeat;
    background-size: cover !important;
    @include padding(40px 0, 185px 0);

}

#pagetitle.shop {
    @include margin-top(52px, 77px, 79px);
    width: 100%;
    background: url(../images/pagetitle_shop.jpg) top center no-repeat;
    background-size: cover !important;
    @include padding(30px 0, 100px 0);

}

#pagetitle h2 {
    color: #b5983a;
    @include size(24, 48);
    font-weight: 900;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    @include padding(2% 4%, 9px 70px 12px);
}

#pagetitle h2 .sub {
    color: #fff;
    @include size(18, 28);
    font-weight: 500;
    padding-left: 20px;

}

#pagetitle.shop h2 {
    background: rgba(0, 0, 0, 0);
}

#pagetitle.shop h2 .sub {
    color: #000;
    font-weight: bold;
    padding-left: 10px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pan
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#pan {
    text-align: left;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    @inculde .fsize_s;
    @include padding(7px 0px 5px 100px);

    @include sp_only {
        display: none;
    }
}

#pan a {
    color: #fff;
}

#pan a:hover {
    text-decoration: underline;
}

#pan h2 {}




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--contents
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#contents_wrap {
    @include pc() {
        margin-top: 0px;
    }
}

#contents {
    @include fsize;
    text-align: left;
    width: 100%;
}






/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sidebar
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#sidebar {}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer {
    background: $keycolor1;
    @include padding(4% 0, 15px 0 30px);
}

footer .footer-outer {
    text-align: center;
    @include padding-top(0%, 20px);
}

footer .logo {
    text-align: center;
}

footer .logo img {
    @include sp_only {
        width: 125px;
    }
}

footer .copy {
    color: #fff;
    text-align: center;
    @include size(11, 13);
    letter-spacing: 1px;
    padding-top: 10px;

}

#page_top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 20;

    img {
        width: 50px;
        height: 50px;
    }
}
