@charset "UTF-8";
/********************************************************************************
　--page_index
*********************************************************************************/
#page_index .mainimg_bg {
  background: url(../images/mainimg_bg.jpg) no-repeat top;
  position: relative;
  margin-top: 52px;
  background-size: cover;
}

#page_index .mainimg_bg .flag_obi {
  background: url(../images/mainimg_flag.png) repeat;
  height: 50px;
  width: 100%;
  background-size: contain;
  position: absolute;
  top: -1px;
  z-index: 99;
}

#page_index .mainimg_bg .main_text {
  z-index: 98;
}

#page_index .mainimg .sp-img {
  margin-top: 80px;
}

#page_index .family_event {
  background: url(../images/family_event_bg.jpg) no-repeat center top;
  background-size: cover;
}

#page_index .shop_title {
  background: url(../images/shop_title_bg.jpg) no-repeat center top;
  background-size: cover;
}

#page_index .event {
  background: url(../images/event_bg.jpg);
  background-repeat: repeat;
}

#page_index .event .outer ul li {
  background: #fff;
  margin-bottom: 40px;
  padding: 0 75px 25px;
}

#page_index .event .outer ul li h5 {
  font-size: 16px;
  font-size: 1.6rem;
  color: #E50059;
  text-align: center;
}

#page_index .event .outer ul li dl {
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 4px);
  background-size: 5px 1px;
  background-position: bottom;
  background-repeat: repeat-x;
}

#page_index .event .outer ul li dl:last-of-type {
  background-image: none;
  padding-bottom: 15px;
}

#page_index .event .outer ul li .kome {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
}

#page_index .event .outer ul li dl dt {
  width: 30%;
  float: left;
  text-align: right;
}

#page_index .event .outer ul li dl dt span.box {
  background: #15B0A3;
  color: #fff;
  padding: 3px 40px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 900;
}

#page_index .event .outer ul li dl dd {
  width: 70%;
  float: left;
  font-size: 16px;
  font-size: 1.6rem;
  padding-left: 40px;
}

.twitter .linkbtn {
  text-align: center;
}

.twitter p {
  font-weight: bold;
  text-align: center;
}

.twitter .linkbtn a {
  display: inline-block;
  padding: 14px 40px 14px 60px;
  border-radius: 30px;
  text-decoration: none;
  color: #FFF;
  background: #00AAEB;
  transition: .4s;
  position: relative;
  font-size: 14px;
  font-size: 1.4rem;
}

.twitter .linkbtn a:hover {
  background: #31CFFF;
}

.twitter .linkbtn a:before {
  content: '';
  left: 20px;
  top: 17px;
  position: absolute;
  display: inline-block;
  width: 36px;
  height: 29px;
  background-image: url(../images/twitter_icon.svg);
  background-size: contain;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  #page_index .mainimg_bg {
    margin-top: 59px;
  }
  #page_index .event .outer ul li h5 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  #page_index .event .outer ul li .kome {
    font-size: 18px;
    font-size: 1.8rem;
  }
  #page_index .event .outer ul li dl dt span.box {
    font-size: 24px;
    font-size: 2.4rem;
  }
  #page_index .event .outer ul li dl dd {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .twitter .linkbtn a {
    font-size: 20px;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1040px) {
  #page_index .mainimg_bg {
    margin-top: 61px;
  }
}

@media (max-width: 767px) {
  #page_index .mainimg_bg .flag_obi {
    height: 30px;
  }
  #page_index .mainimg .sp-img {
    display: block;
    margin-top: 52px;
  }
  #page_index .event .outer ul li {
    padding: 20px 4%;
    margin-bottom: 4%;
  }
  #page_index .event .arrow {
    width: 130px;
  }
  #page_index .event .outer ul li dl dt {
    width: 100%;
    text-align: center;
  }
  #page_index .event .outer ul li dl dd {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-top: 2%;
  }
  .twitter .linkbtn a {
    padding: 12px 4% 12px 50px;
  }
  .twitter .linkbtn a:before {
    width: 25px;
    height: 20px;
    top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  #page_index .mainimg .sp-img {
    display: block;
    margin-top: 77px;
  }
  #page_index .event .outer ul li {
    padding: 0 50px 25px;
  }
  #page_index .event .outer ul li dl dt {
    width: 35%;
  }
  #page_index .event .outer ul li dl dd {
    width: 65%;
  }
}

@media screen and (min-width: 1200px) {
  #page_index .mainimg .sp-img {
    display: none;
  }
}
